<form action="/parcels" method="post">
  <label for="weight">Weight</label>
  <input id="weight" name="weight" type="number" min=0 required>
  <label for="height">Height</label>
  <input id="height" name="height" type="number" min=0 required>
  <label for="length">Length</label>
  <input id="length" name="length" type="number" min=0 required>
  <label for="width">Width</label>
  <input id="width" name="width" type="number" min=0 required>
  <button type="submit">Submit Parcel</submit>
</form>